*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background: none;
    border: none;
}

html {
    background-color: #393E46 ;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #393E46;
   
}


/* MENU */

.container-menu {
    padding: 1rem;    
    /* width: 450px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    font-size: 1.2rem;
    background-color: #393E46 ;
    flex-wrap: wrap;
    height: 65vh;
}



.opcion-down {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    

    margin: 0rem;
        padding: 0.5rem;
        /* width: 15rem; */
        width: 9rem;
        height: 5rem;

    border-radius: 5px;
    background: #e0e0e0;
    /* box-shadow:  2px 2px 10px #bebebe,
             -2px -2px 10px #ffffff; */
}

.opcion-down img {
    width: 30px;
}

main {
    height: 65vh;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: #393E46;
    border-top: 1px solid rgba(255, 255, 255, 0.207);
}


.opcion:hover {
    transform: scale(1.1);
}

.opcion img {
    width: 30px;
    margin: auto;
}

.opcion a {
    text-decoration: none;
    font-size: 2rem;
    color: #5532A0;
    color: #14171A;
    /* color: blueviolet; */
    

    
}



/* HEADER */

header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky; /*Al asignar un posicion podemos asignarle el top*/
    top: 0; /*Importante */
    z-index: 1;
    
    /* height: 15vh; */
    height: 90px;
    padding-bottom: 0.5rem;
    

    /* background-color: #0047BA; */
    background-color: #222831;
    font-size: 1.2rem;
    font-weight: 500;
    
    
}




header .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50px;
    /* background-color: #0047BA; */
    background-color: #222831;
    /* background-color: red; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.207);
    list-style-type: none; /*Esto lo cambie por el display de abajo*/
}


header .logo-ingles img {
    width: 50px;
    /* margin: 0.5rem; */
 
}

header .logo-opcion img {
    width: 2.7rem;
}



header li a {
    text-decoration: none;
    color: white;
}

@media screen and (orientation: landscape) {
    header {
        position: relative;
    }
}


/* Burger */

#burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    padding: 0.5rem;
    position: fixed;
    left:1.2rem;
    top: 1.5rem;
    z-index: 2;
    cursor: pointer;
    
}

@media (max-width:600px){
    .container-menu {
        
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
        grid-template-rows: repeat(3, 1fr); /* Tres filas de igual tamaño */
        gap: 10px; /* Espacio entre elementos */
    }

    .opcion {
        margin: 0rem;
        padding: 0.5rem;
        /* width: 15rem; */
        width: 100px;
        height: 100px;
    }

    .opcion a{
        font-size: 1rem !important;
    }

    header .logo-ingles img {
        width: 40px;
       
    }

    header li a {
        text-decoration: none;
        color: white;
        font-size: 0.7rem;
    }

    #burger .barra {
        width: 1.5rem; 
    }
}


@media (max-width:720px){
    #toggleBtn1,
    #toggleBtn3, 
    #capturarBtn,   
    .leyenda-texto {
        font-size: 0.7rem;
    }

    .opcion-down {
        width: 50px ;
        height: 50px ;
    }

    .opcion-down img {
        width: 30px ;
    }
      
}