*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background: none;
    border: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1F1F1F;
   
}




/* MENU */

.container-menu {
    padding: 1rem;    
    /* width: 450px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.2rem;
    background-color: #FFFFFF; 
    
   
}

.opcion {
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    padding: 1rem;
    width: 15rem;
    margin: 2rem;

    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

@media (max-width:600px){
    .container-menu {
        flex-direction: column;
        
    }
}

.opcion:hover {
    transform: scale(1.1);
}

.opcion img {
    width: 80px;
    margin: auto;
}

.opcion a {
    text-decoration: none;
    font-size: 2rem;
    color: #5532A0;
    /* color: blueviolet; */
    

    
}








/* HEADER */

header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky; /*Al asignar un posicion podemos asignarle el top*/
    top: 0; /*Importante */
    z-index: 1;
    
    height: 15vh;
    padding-bottom: 0.5rem;
    

    /* background-color: #0047BA; */
    background-color: #14171A;
    font-size: 1.2rem;
    font-weight: 500;
    
    
}

header .logo-ingles img {
    width: 70px;
    margin: 0.5rem;
}





header .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* background-color: #0047BA; */
    background-color: #14171A;
    border-bottom: 1px solid rgba(255, 255, 255, 0.207);
    list-style-type: none; /*Esto lo cambie por el display de abajo*/
}

header .menu .logo-home {
    width: 30%;
    
}
