*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background: none;
    border: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #1F1F1F; */
    background-image: url('images/rascacielosazul.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#toggleBtn, #toggleBtn2 {
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
    background-color: hotpink;
}

#toggleBtn, #toggleBtn2 :hover {
    transform: scale(1.1);
    box-shadow: hotpink 0px 14px 28px;
}

#toggleBtn.on, #toggleBtn2.on {
    background-color: mediumaquamarine;
}

#toggleBtn.on, #toggleBtn2.on:hover {
    box-shadow: mediumaquamarine 0px 14px 28px;
}


/* STREAM STYLES */



* ::after, ::before {
    box-sizing: border-box;
  }
  
  
  .alert-danger {
  max-width: 500px;
  margin: auto;
  background-color: red;
  padding: 20px;
  }
  .alert-danger {
  background-color: red;
  }
  .tcenter {
  text-align: center;
  }
  .ib {
  display: inline-block;
  }
  
  .w-100 {
  width: 100%;
  }
  
  
  .green_circle
  {
  background-color: green;
  }
  .yellow_circle
  {
  background-color: orange;  
  }
  .red_circle
  {
  background-color: red;  
  }
  
  
  
  .page_login,
  .page_display {
  background-color:#0069d8;
  color: #FFFFFF;
  }
  
  .page_display .listing_container_wrapper {
  width: 500px;
  max-width: 100%;
  margin: 50px auto;
  }
  
  .page_display .iotObj
  {
  background: #FFFFFF;
  color: #253858;
  border:1px solid #FFFFFF;
  margin:10px;
  border-radius: 5px;
  padding: 10px;  
  }
  .page_display .iotObj .iotObj_inner
  {
  padding-right: 40px;  
  position: relative;
  }
  
  .page_display .iotObj .name
  {
  font-size:18px;
  font-weight: bold;
  }
  
  .page_display .iotObj .lastseen
  {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  }
  
  .page_display .iotObj .location,
  .page_display .iotObj .type
  {
  font-size:12px;
  margin-bottom: 10px;
  text-transform: capitalize;
  
  }
  
  /* .page_display .iotObj .description
  {
  } */
  
  .page_display .iotObj .actions {
  position: absolute;
  right: 0;
  width: 40px;
  top: 0;
  }
  .page_display .iotObj .actions .delete {
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0074e0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M 8.9887248,7.8764193 21.011275,19.876419 m -12.0225502,0 L 21.011275,7.8764193'/%3E%3C/svg%3E");
  background-position-y: 1px;
  }
  
  
  
  .page_login .jumbotron
  {
  padding: 10px;
  max-width: 500px;
  background-color: #FAFAFA;
  border: 1px solid #E7E7E7;
  margin: 50px auto;
  color:#000000;
  }
  
  .page_login .jumbotron label
  {
  display: none;
  }
  .page_login .jumbotron .form-control
  {
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  }
  .page_login .jumbotron button
  {
  padding: 5px;
  border-radius: 2px;
  background-color: #0074e0;
  color:#FFFFFF;
  border: none;
  }


/* LOGIN Y REGISTRO */

  

main {
    height: auto;
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    /* margin-top: 3rem; */
}






.container-middle {
    background-color: rgb(51, 51, 51,0.2);
    /* background-color: #1F1F1F; */
    /* height: 75vh; */
    padding: 1rem;    
    width: 450px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.2rem;
    /* background-color: red;   */
    border-radius: 10px   
}


.container-middle form {
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(31, 31, 31,0.9);
    /* background-color: chartreuse; */
    overflow-y: auto;
    border: 1px solid white;
    max-height: 100%;
    border-radius: 10px
}

.container-middle form #correo,
.container-middle form #password,
.container-middle form #nombre {
    box-sizing: border-box;
    height: 2rem;
    font-size: 1rem;
    
    border: 2px solid white;
    border-radius: 5px;
   
    color: white;
    
    background-color: #333333;
    width: 100%;
}

.container-middle form  .imagen {
    overflow: auto;
    text-align: center;
    margin: 1rem; 
    
}

.container-middle form #imagenFormulario{
    border: 2px solid #5532A0;
    width: 5rem;    
}

label p {
    color: #5532A0;
    margin: 1rem 0;
    font-size: 1rem;
}

#btnAgregar {
    color: #5532A0;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 10px;
    border: 2px solid #5532A0;
    margin-top: 2rem;
    cursor: pointer;
}

.boton  {
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.boton a {
    color: white;
}





/*  #333333 #1F1F1F  #14171A */