*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background: none;
    border: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #393E46;
   
}


/* HEADER */

header {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: sticky; /*Al asignar un posicion podemos asignarle el top*/
    top: 0; /*Importante */
    z-index: 1;
    
    /* height: 15vh; */
    height: 90px;
    padding-bottom: 0.5rem;
    

    /* background-color: #0047BA; */
    background-color: #222831;
    font-size: 1.2rem;
    font-weight: 500;
    
    
}




header .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50px;
    /* background-color: #0047BA; */
    background-color: #222831;
    /* background-color: red; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.207);
    list-style-type: none; /*Esto lo cambie por el display de abajo*/
}


header .logo-ingles img {
    width: 40px;

}

header .logo-opcion img {
    width: 2.7rem;
  }
  

header li a {
    text-decoration: none;
    color: white;
}

@media screen and (orientation: landscape) {
    header {
        position: relative;
    }
}


/* Burger */

#burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    padding: 0.5rem;
    position: fixed;
    left:1.2rem;
    top: 1.5rem;
    z-index: 2;
    cursor: pointer;
    
}


/* #burger.abierto .barra {
    width: 0;
} */

#burger .barra {
    width: 1.8rem;
    height: 2px;
    background-color: #00BCD4;
    margin: 0.2rem 0; 
    transition: 500ms ease-in-out;
}



#burger.abierto .barra.top {
    height: 4px;
    transform: rotate(45deg) translateY(14px);
}

#burger.abierto .barra.mid {
    width: 0;
}

#burger.abierto .barra.bot {
    height: 4px;
    transform: rotate(-45deg) translateY(-14px)
}

/*MENU LATERAL  */

.menu-lateral {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    padding: 1rem;
    padding-top: 8rem;
    width: 200px;
    height: 100vh;
    background-color: rgb(31, 31, 31,0.8);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1rem;
    transition: 500ms ease-in-out;
    left: -240px;
}

.menu-lateral {
    list-style: none;

}

.menu-lateral li {
    margin-bottom: 1rem;
    
}

.menu-lateral li a {
    font-size: 0.7rem;
}

@media (max-width:600px){
    .container-menu {
        
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
        grid-template-rows: repeat(3, 1fr); /* Tres filas de igual tamaño */
        gap: 10px; /* Espacio entre elementos */
    }

    .opcion {
        margin: 0rem;
        padding: 0.5rem;
        /* width: 15rem; */
        width: 100px;
        height: 100px;
    }

    .opcion a{
        font-size: 1rem !important;
    }

    header .logo-ingles img {
        width: 40px;
       
    }

    header li a {
        text-decoration: none;
        color: white;
        font-size: 0.7rem;
    }

    #burger .barra {
        width: 1.5rem; 
    }
}

#toggleBtn1, #toggleBtn3, #capturarBtn  {
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
    background-color: #00ADB5;
}

#capturarBtn {
    background-color: #00ADB5;
}


#capturarBtn:active {
    transform: translateY(2px);
}



#toggleBtn1.on, #toggleBtn3.on {
    background-color: mediumaquamarine;
}





.leyenda-graficas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #393E46;
  
}

/* Estilos para cada elemento de la leyenda */
.leyenda-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%; 
}

/* Estilos para el cuadro de color de la leyenda */
.leyenda-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el texto de la leyenda */
.leyenda-texto {
  font-size: 1rem;
  color: #EEEEEE;
  margin-bottom: 0.5rem;
  font-weight: bold;

}

.container-canvas {
    overflow: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    
}

#canvas {
    width: 640px;
    height: 480px;
    display: flex;
    /* border: 1px solid #00BBD4; */
    margin: auto;
    margin-bottom: 1rem;
    
}

.opcion2 {
    margin: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}

#imgCapturada {
    text-align: center;
}






footer {

    border-top: 1px solid rgba(255, 255, 255, 0.207);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: #393E46;
  }
  

main {
    height: 65vh;
    overflow: auto;
  }
  
  /* .opcion {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
    width: 15rem;
    margin: 2rem;
  
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  2px 2px 10px #bebebe,
             -2px -2px 10px #ffffff;
  } */
  
  .opcion-down {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    
  
    margin: 0rem;
        padding: 0.5rem;
        width: 9rem;
        height: 5rem;
       
  
    border-radius: 5px;
    background: #e0e0e0;
    /* box-shadow:  2px 2px 10px #bebebe,
             -2px -2px 10px #ffffff; */
  }
  
  .opcion-down img {
    width: 50px;
  }
  

  @media (max-width:720px){
    #toggleBtn1,
    #toggleBtn3, 
    #capturarBtn,   
    .leyenda-texto {
        font-size: 0.7rem;
    }

    .opcion-down {
        width: 50px ;
        height: 50px ;
    }

    .opcion-down img {
        width: 30px ;
    }
      
}